<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://actualconnecttrip20160512091342.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>actualconnecttrip20160512091342.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ActualConnectTrip20160512091342</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$ActualConnectTrip20160512091342</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=actualconnecttripdbtest1;Initial Catalog=actualconnecttriptest3;Persist Security Info=True;User ID=thefifth2002@hotmail.com;Password=WUhao@198297" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ActualConnectTrip.Models.ApplicationDbContext, ActualConnectTrip" MigrationConfiguration="ActualConnectTrip.Migrations.Configuration, ActualConnectTrip" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataLayer.Entities2" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DataLayer.Entities2, DataLayer" MigrationConfiguration="DataLayer.Migrations.Configuration, DataLayer" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataLayer.Entities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=actualconnecttripdbtest1;Initial Catalog=actualconnecttriptest3;Persist Security Info=True;User ID=thefifth2002@hotmail.com;Password=WUhao@198297</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DataLayer.Entities2" />
  </ItemGroup>
</Project>