
@{
    ViewBag.Title = "GameOver";
}

<h2>GameOver</h2>
@if(TempData["Winner"]!=null)
{
   <p>@TempData["Winner"]</p> 
}
@if(TempData["IsCancelled"]!=null)
{
    <p>@TempData["IsCancelled"]</p>
}


@Html.ActionLink("Start another game!", "stindex");