
@{
    ViewBag.Title = "Rules";
}

<h2>Rules</h2>

<p>Select a coloumn and your piece will go to the lowest row in that column.  Try to get four of your pieces to line up, either horizontally, vertically, or diagonally.</p>
<p>Before each turn answer a math question.  If you answer after 2 minutes have passed or if you answer incorrectly, you lose your turn.</p>