@{
    ViewBag.Title = "About";
}
<h1>About ConnectTrip game</h1>
<p>This is a fun with math game, where you get to play the game while improving your math skills</p>
<p>The game consists of six rows and seven columns</p>
<p>The game requires two players to play the game</p>
<p>You can either request for a new game and wait for a player to accept your request or you can accept one of the players from the players wait list</p>
<p>The set of recommended players are listed based on your scores and who you can compete with</p>
<p>Before each turn you will be prompted with a math question. You can play your turn only if you answer the question correctly and within 2 minutes time</p>
<p>The game has three different levels</p>
<p>The level of difficulty will determine the level of difficulty of the math problem</p>
<p>Each time the player gets four of his/her pieces to line up, either horizontally, vertically, or diagonally, the player make a score</p>
<p>When the board is full, the player with the highest score wins</p>

<h1>You can also practice maths and improve!</h1>
<p>You can choose a level of difficulty</p>
<p>The level of difficulty will determine the level of difficulty of the math problem</p>
<p>You can answer the math questions and instantly know if you answered correctly or not</p>
<p>If you answer incorrectly, the right answer will be displayed and you will prompted with the next question</p>
<p>You will not gain or lose points here because pratice math page is just for you to pratice and improve!</p>

<h1>Forum Page</h1>
<p>The user can post any queries in the forum page</p>
<p>The query should include a title and a description</p>
<p>Any registered user can view the question and provide an answer to it</p>
<p>The users can also search in the forum by entering a key word</p>
<p>This will allow the user to go through the forum and find a solution to his query before posting another similar question which has already been answered</p>

<h1>General information</h1>
<p>This page is for the users or the user's tutor to view the math scores and games scores in the game statistics page</p>
<p>This way the user's progress can be constantly monitored</p>
<p>Catch phrase is a slogan about yourself or anything that you want to be associated with your account</p>

