@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@{
    /*
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>*/
}


<address>
    <strong>Katelyn Mulgrew:</strong>   <a href="mailto:email@katelynmulgrew.com">email@katelynmulgrew.com</a><br />
    <strong>Hao Wu:</strong> <a href="mailto:hw1395@nyu.edu">hw1395@nyu.edu</a>
    <strong>Joanna Serrao:</strong> <a href="mailto:joanna.crystal@nyu.edu">joanna.crystal@nyu.edu</a>
    <strong>Qiyu Xiao:</strong> <a href="mailto:qx344@nyu.edu">qx344@nyu.edu</a>
</address>