
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}


<section class="video">
    <h3 class="animated wow fadeInDown">watch the video and learn to play the game</h3>
    <a href="https://www.youtube.com/watch?v=WU1K4X_LOxY" id="play_btn" class="fancybox animated wow flipInX" data-wow-duration="2s"></a>
</section><!--  End video  -->

<section class="services wrapper">
    <ul class="clearfix">
        <li class="animated wow fadeInDown" data-wow-delay=".2s">
            <div style="float:left">
                <strong>Katelyn Mulgrew:</strong><br/>
                 <a href="mailto:email@katelynmulgrew.com" style="color:black">email@katelynmulgrew.com</a><br />
                <strong>Hao Wu:</strong><br /> <a href="mailto:hw1395@nyu.edu" style="color:black">hw1395@nyu.edu</a><br />
            </div>
           
        </li>
        <li class="animated wow fadeInDown" data-wow-delay=".2s">
            <img class="icon" src="~/Content/ContactUs.jpg" alt="" />
            <span class="separator"></span>
        </li>
        <li class="animated wow fadeInDown" data-wow-delay=".2s">
            <div style="float:right">
                <strong>Joanna Crystal Serrao:</strong><br /><a href="mailto:joanna.crystal@nyu.edu" style="color:black">joanna.crystal@nyu.edu</a><br/>
                <strong>Qiyu Xiao:</strong> <br /><a href="mailto:qx344@nyu.edu" style="color:black">qx344@nyu.edu</a><br />
            </div>

        </li>
  
    </ul>
</section><!--  End services  -->
