@model List<DataLayer.Person>
@{
    ViewBag.Title = "Userlist";
}

<h2>Userlist</h2>



@if (Model != null)
{


    <table class="table">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => BizLogic.statsAndRecommendationLogic.overallPercentage(item))
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CatchPhrase)
                </td>
            </tr>

        }
    </table>
}
else
{
    <caption>@ViewBag.Nouser</caption>
}

